.feature {
  background-color: #2f2f2f;
  border-radius: 4px;
  padding: 8px 16px;
  height: 450px;
}

.feature h2 {
  margin-bottom: 20px;
}

.feature ul {
  margin-left: 24px;
}

.feature li {
  margin-bottom: 12px;
}

.feature li span {
  font-size: 12px;
  display: inline-block;
  margin-left: 4px;
}
