.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 12px 40px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.home {
  color: #fff;
  text-decoration: none;
}

.splide {
  color: #b4e900;
}

.swiper {
  color: #5468ff;
}
